doctype html
html
  head
    +css([
    {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
    {name: "@loadingio/bootstrap.ext"}
    ])
  body
    .m-5
      .border.rounded.w-100.d-flex.align-item-stretch.flex-nowrap(ld="root", style="height:500px")
        .bg-light.d-flex.justify-content-end(style="flex-basis:50%") Some Text
        .bg-dark.gutter(style="width:10px;flex:0 0 auto;cursor:pointer")
        .bg-light.d-flex.justify-content-start(style="flex-basis:50%") Some Text
    +script([
    {name: "@loadingio/debounce.js"},
    {name: "@loadingio/ldquery"},
    {name: "proxise"},
    {name: "ldview"}
    ])
    script(type="module")
      include:lsc flexize.ls
      include:lsc index.ls
